* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: 0rem;
}

body {
    color: black;
    background-color: whitesmoke;
    font-family: cursive;
    font-size: 0.9rem;
    font-weight: small;
}

ul {
    list-style: none;
}


/* Header/Navigation section */

.Logo {
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: cursive;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Logo i {
    border-radius: 50px;
    padding: 0.5rem;
    background-color: yellowgreen;
}

.Nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: bold;
    background-color: seagreen;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px seagreen;
}

header {
    margin: 20px;
    border-style: none;
    border-width: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 8px seagreen;
    background-color: rgb(255, 252, 252);
    padding: 1rem;
    margin-bottom: 2rem;
}


/* Index page */

#Vid-Text {
    position: absolute;
    display: flex;
    margin: 50px;
    top: 50%;
    left: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#Vid {
    justify-content: center;
    display: flex;
}

video {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 80%;
    margin-top: 2rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(65, 65, 201);
}

#Vid-p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 8px purple;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: rgb(255, 252, 252);
}


/* Services page main section */

#Container-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 4rem;
    box-shadow: 0px 4px 8px yellowgreen;
}

.Items {
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 8px seagreen;
    margin: 1rem;
}

.Items-Description {
    border-style: none;
    border-radius: 10px;
    background-color: seagreen;
    padding: 1rem;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px seagreen;
}


/* Schedule main section */

.Schedule {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0px 4px 8px yellowgreen;
}


/* Footer  section */

.Heading-Foot {
    color: whitesmoke;
    border-style: none;
    border-bottom: solid;
    border-width: 2.5px;
    border-color: seagreen;
    text-shadow: 2px 2px 4px seagreen;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.col-Footer {
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.col-Footer a {
    text-decoration: none;
    color: black;
}

.Footer {
    padding: 1rem;
    margin: 1rem;
    gap: 4rem;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(255, 252, 252);
    color: black;
    flex-direction: row;
    gap: 15rem;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 0px 4px 8px seagreen;
}

.Follow-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
}


/* About Us */

#Container-About {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    border-radius: 30px;
    border-style: none;
    border-width: 2px;
    box-shadow: 0px 4px 8px yellowgreen;
}

.IMG-Founder {
    border-style: none;
    border-radius: 50px;
    padding: 0.5rem;
    float: left;
    margin: 0.5rem;
}

#About-Text {
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
    ;
}

#Contact-Info {
    align-items: center;
    align-content: center;
}

.Contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: sans-serif;
}


/* Items sold */

.Container-services {
    display: flex;
    border-style: none;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
    box-shadow: 0px 4px 8px black;
    margin: 4rem;
}

.Container-Tops {
    display: flex;
    border-style: none;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
    box-shadow: 0px 4px 8px black;
    margin: 4rem;
}

.Container-Bottoms {
    display: flex;
    border-style: none;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
    box-shadow: 0px 4px 8px black;
    margin: 4rem;
}

.Items-border {
    border-style: none;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 0px 4px 8px rgb(63, 63, 148);
}


/*Contact Us*/

#Form {
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px yellowgreen;
    border-radius: 30px;
    padding: 1rem;
    margin: 2rem;
}

#Contact-Info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: none;
}

#Heading-Info {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Contact-Us {
    display: flex;
    box-shadow: 0px 4px 8px yellowgreen;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
    margin: 1.5rem;
}