* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: 0rem;
}

body {
    background-color: whitesmoke;
    color: black;
}

ul {
    list-style: none;
}


/* Header/Navigation section */

.Logo {
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Press Start 2P", cursive;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Logo i {
    border-radius: 50px;
    padding: 0.5rem;
    background-color: yellowgreen;
}

.Nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: sans-serif;
    color: whitesmoke;
    border-style: none;
    border-color: yellowgreen;
}

.Nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: seagreen;
    border-width: 2px;
    border-radius: 10px;
    font-family: sans-serif;
}

header {
    margin: 5px;
    padding: 5px;
    border-style: none;
    border-width: 5px;
    border-color: black;
}


/* Index page */

#Vid-Text {
    position: absolute;
    display: flex;
    font-family: sans-serif;
    margin: 50px;
    top: 50%;
    left: 40%;
}

video {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 50px;
    position: relative;
}


/* Services page main section */

#Container-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 4rem;
}

.Items {
    Border-style: solid;
    border-color: yellowgreen;
    border-radius: 10px;
    padding: 1rem;
}

.Items-Description {
    border-style: none;
    border-radius: 10px;
    background-color: seagreen;
    padding: 1rem;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}


/* Schedule main section */

.Schedule {
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}


/* Footer  section */

.Heading-Foot {
    font-family: sans-serif;
    color: whitesmoke;
    border-style: none;
    border-bottom: solid;
    border-width: 2.5px;
    border-color: yellowgreen;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.col-Footer {
    font-family: sans-serif;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.col-Footer a {
    text-decoration: none;
    color: black;
}

.Footer {
    padding: 1rem;
    margin: 1rem;
    gap: 4rem;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: yellowgreen;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: seagreen;
    flex-direction: row;
    gap: 15rem;
    padding: 1rem;
    font-weight: bold;
}

.Follow-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: sans-serif;
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
}


/* About Us */

#Container-About {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    border-color: yellowgreen;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    font-family: sans-serif;
}

.IMG-Founder {
    border-style: none;
    border-radius: 50px;
    padding: 0.5rem;
    float: left;
    margin: 0.5rem;
}

#About-Text {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
    ;
}

#Contact-Info {
    align-items: center;
    align-content: center;
}

.Contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: sans-serif;
}


/* Items sold */

.Container-services {
    display: flex;
    border-style: none;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
}

.Container-Tops {
    display: flex;
    border-style: none;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
}

.Container-Bottoms {
    display: flex;
    border-style: none;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
}


/*Contact Us*/

#Form {
    Border-Style: solid;
    display: inline-block;
    border-color: yellowgreen;
    border-radius: 30px;
    padding: 1rem;
    margin: 2rem;
}

#Contact-Us {
    display: flex;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
}